.catcard {
  background-color: #fffdde;
  border: 5px solid #ffcbcb;
  border-radius: 10px;
  color: grey;
  display: flex;
  text-align: center;
  padding: 10px;
  font-weight: bold;

  width: 200px;
  height: 350px;
  margin: 10px;
}
