.catcard {
  background-color: #fffdde;
  border: 5px solid #ffcbcb;
  border-radius: 10px;
  color: grey;
  display: flex;
  text-align: center;

  width: 200px;
  height: fit-content;
  margin: 10px;
}
